/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.marker-label {
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-top: -48px;
  padding: 3px 6px;
  font-weight: 600;
  box-shadow: 2px 2px;
}

.black-shadow {
  box-shadow: 2px 2px #222;
}
